@import "tailwindcss";

/* Biến màu Light Theme (mặc định) */
:root {
  --color-bg: #f9fafb;
  --color-text: #1e293b;
  --color-sider: #f0f5ff;
  --color-header: #e6f0ff;
  --color-menu-item-hover: #bfdbfe;
  --color-menu-item-selected: #3b82f6;
}

/* Biến màu Dark Theme */
[data-theme="dark"] {
  --color-bg: #152131;
  --color-text: #f8fafc;
  --color-sider: #0b1727;
  --color-header: #14223f;
  --color-menu-item-hover: #719bc2;
  --color-menu-item-selected: #4c6a9b;
}

/* Áp dụng màu */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Sider + Menu */
.ant-layout-sider {
  background-color: var(--color-sider) !important;
}

.ant-menu,
.ant-menu-sub {
  background-color: var(--color-sider) !important;
  color: var(--color-text) !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: var(--color-text) !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: var(--color-menu-item-hover) !important;
  color: var(--color-text) !important;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  background-color: var(--color-menu-item-selected) !important;
  color: #fff !important;
}

/* Header */
.ant-layout-header {
  background-color: var(--color-header) !important;
  color: var(--color-text) !important;
  padding-left: 0 !important;
}

/* Logo Sidebar */
.sidebar-logo {
  color: var(--color-text);
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}

/* Nội dung */
.ant-layout-content {
  background-color: var(--color-bg) !important;
  color: var(--color-text) !important;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Table */
/* .ant-table {
  background-color: var(--color-bg) !important;
  color: var(--color-text) !important;
} */
.ant-table-thead > tr > th {
  background-color: var(--color-header) !important;
  color: var(--color-text) !important;
}
/* .ant-table-tbody > tr > td {
  background-color: var(--color-bg) !important;
  color: var(--color-text) !important;
} */
.ant-table-tbody > tr:hover > td {
  background-color: var(--color-menu-item-hover) !important;
}

