@import "tailwindcss";

/* Theme variables */
:root {
  --color-sider: #1e3a8a;   
  --color-header: #152d61; 
  --color-menu-item-hover: #3b82f6; 
  --color-menu-item-selected: #1e40af; 
}


.ant-layout-sider,
.ant-menu,
.ant-menu-sub {

  color: #fff !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: #fff !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: var(--color-menu-item-hover) !important;
  color: #fff !important;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  background-color: var(--color-menu-item-selected) !important;
  color: #fff !important;
}


.ant-layout-header {
  background-color: var(--color-header) !important;
  color: #fff !important;
  padding-left: 0 !important;
}


.sidebar-logo {
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}
