@import "tailwindcss";

.sidebar-logo {
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}

body {
  transition: background 0.3s ease, color 0.3s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(6px);
  }
  60% {
    transform: translateY(3px);
  }
}
